.bin-background {
    position: absolute;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;

    .bb-1 {
        width: 50%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bb-2 {
        width: 50%;
        min-height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}