.form-Login {
    display: flex;
    flex-direction: column;

    .label:first-child {
        margin: 49px 0 21px 0;
    }

    .label {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .icon {
            position: absolute;
            margin-left: -240px;
        }

        @media (min-width: $tablet) {
            .icon {
                position: absolute;
                margin-left: -360px;
            }
        }

        .input {
            width: 100%;
            height: 50px;
            padding-left: 56px;
            font-weight: 700;
            font-size: $text-size-secondary-sm;
            background-color: transparent;
            color: $text-color;
            outline: none;
            border: 1px solid $text-color;
            border-radius: $border-radius-input;
        }

        .input:-webkit-autofill,
        .input:-webkit-autofill:hover,
        .input:-webkit-autofill:focus,
        .input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px $background-primary inset !important;
            -webkit-text-fill-color: $text-color  !important;
        }


        @media (min-width: $tablet) {
            .input {
                padding-left: 66px;
                font-size: $text-size-secondary-r;
            }
        }

        ::placeholder {
            color: $text-color;
            /* Firefox */
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $text-color;
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $text-color;
        }
    }
}