.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    .bin-content {
        z-index: 1;
        color: $text-color;
        width: 432px;
    }
}

.main-title {
    width: 100%;
    font-size: $text-size-primary;
    font-weight: 700;
}

.notice {
    width: 100%;
    font-size: $text-size-tertiary;
    font-weight: 700;
}