.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
}

.bin-content {
    z-index: 1;
    text-align: center;
    margin-top: 202px;
    color: $text-color;
    width: 300px;
}

@media (min-width: $tablet) {
    .bin-content {
        width: 433px;
    }
}

.main-title {
    width: 100%;
    font-size: $text-size-primary;
    font-weight: 700;
    line-height: 69px;
}

.notice {
    width: 100%;
    font-size: $text-size-tertiary;
    font-weight: 700;
    line-height: 35px;
}