// break-points ---mobile first---
$tablet: 767px;
$desktop: 1024px;

// colors
$text-color: #FFFFFF;
$background-primary: #1F41A9;
$background-secondary: #274FC7;
$green-button: #00FF29;

// sizes
$text-size-primary: 48px;
$text-size-secondary: 19px;
$text-size-tertiary: 18px;

// border
$border-radius-input: 10px;
$border-radius-button: 15px;